.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.btn {
  padding-left: 2em !important;
  padding-right: 2em !important;
  margin-left: 1em; !important;
  margin-right: 1em; !important;
}

.text-center {
  text-align: center;
}

body {
  font-size: 2.1em !important;
}

.color-red {
  color: #ff0000;
}

.color-green {
  color: #00ff00;
}

.color-blue {
  color: #0000ff;
}
